<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.restaurant.app.activities"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.restaurant.app.activities.Login"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name="com.restaurant.app.activities.OrderList"
            android:label="@string/order"/>

        <activity
            android:name="com.restaurant.app.activities.DishDetails"
            android:label="@string/details">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.restaurant.app.activities.DishList"/>

        </activity>

        <activity
            android:name="com.restaurant.app.activities.DishList"
            android:label="@string/menu"/>

    </application>

</manifest>